.Button {
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  cursor: pointer;
}

.Button_blue {
  background-color: #007bff;
  color: #ffffff;
}

.Button_transparent {
  background-color: transparent;
  font-size: 22px;
}
