.SignIn {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 30%;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.SignIn .sign-in__email,
.SignIn .sign-in__pw {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.SignIn button {
  width: 100%;
  margin-top: 10px;
}
